.slide-down-enter-active {
  animation: slide-down .5s;
}
.slide-down-leave-active {
  animation: slide-down .5s reverse;
}

@keyframes slide-down {
  0% {
    transform: scale(0) translateY(-5rem);
    opacity: 0;
  }
  50% {
    transform: scale(.8);
    opacity: .5;
  }
  75% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dance {
  from {
    transform: initial;
  }

  50% {
    transform: translateY(10%) rotate(5deg);
  }
  to {
    transform: initial;
  }
}

@mixin dance {
  animation: dance .71s alternate linear infinite;
}
